---
// Supports weights 100-900
import "@fontsource-variable/raleway";

import Layout from "../layouts/Layout.astro";
import Introduction from "../components/Introduction.astro";
import LaboralExpirience from "../components/LaboralExpirience.astro";
import AboutMe from "../components/AboutMe.astro";
import Education from "../components/Education.astro";
---

<Layout
  title="Bienvenido a mi web!"
  description="Contacta con Jeison Ferrer, desarrollador web y quasi ingeniero de sistemas."
>
  <main class="px-3">
    <Introduction />
    <LaboralExpirience />
    <AboutMe />
    <Education />
  </main>
</Layout>
