---
type Color = "green" | "red" | "blue" | "yellow" | "indigo" | "purple" | "pink";

interface Props {
  color: Color;
}
const { color } = Astro.props;

const classList = [
  "text-md inline-flex items-center text-white",
  {
    "bg-green-100 font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300":
      color === "green",
  },
  {
    "bg-blue-100 text-blue-800 font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300":
      color === "blue",
  },
];
---

<span class:list={classList}>
  <slot />
</span>
