---
import ExperienceItem from "./ExperienceItem.astro";
import SectionContainer from "./SectionContainer.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";

const laboralExperience = [
  {
    date: "Enero 2024",
    title: "Freelance - Página web para la corporación CORPOREDDEH ",
    description:
      "Desarrollo de una página web de contenido dinamico para la corporación CORPOREDDEH de DDHH. La pagina se desarrollo con React y lo servicios de Firestore. Incuye autenticación, almacenamiento de archivos y base de datos.",
    link: "https://corporeddeh.org",
  },
  {
    date: "Junio 2023",
    title: "Freelance - Página web para hotel Alemar en Costa Rica",
    description:
      "Página web que registra las reservaciones de los clientes, con un sistema de autenticación y base de datos. La página se desarrollo con React y lo servicios de Firestore.",
    link: "https://alemarapp.netlify.app",
  },
];
---

<SectionContainer id="experiencia">
  <h1 class="text-2xl mb-3 flex items-center">
    <BriefcaseIcon />
    <span class="ml-2"> Experiencia laboral</span>
  </h1>

  <ol class="relative border-s border-gray-200 dark:border-gray-700 z-10">
    {
      laboralExperience.map(({ title, date, description, link }) => (
        <li class="mb-10 ms-4">
          <ExperienceItem
            title={title}
            date={date}
            description={description}
            link={link}
          />
        </li>
      ))
    }
    <li class="mb-10 ms-4"></li>
  </ol>
</SectionContainer>
